@--bg: #f4f6f8;
@--bg-login-left: #2a2d43;
@--bg-login-right: #ffffff;
@--bg-aside: #283145;
@--bg-logo: #1e1f29;
@--bg-panel: #ffffff;
@--bg-menu-item: #409eff;
@--text-color: #ffffff;
@--color-primary: #409eff;
